@font-face {
	font-family: 'OpenSans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: 
		local('OpenSans-Regular'),
		url('../font/OpenSans-Regular.woff2') format('woff2'),
		url('../font/OpenSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'OpenSans';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: 
		local('OpenSans-SemiBold'),
		url('../font/OpenSans-SemiBold.woff2') format('woff2'),
		url('../font/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'OpenSans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: 
		local('OpenSans-Bold'),
		url('../font/OpenSans-Bold.woff2') format('woff2'),
		url('../font/OpenSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'OpenSans';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: 
		local('OpenSans-Black'),
		url('../font/OpenSans-Black.woff2') format('woff2'),
		url('../font/OpenSans-Black.woff') format('woff');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: 
		local('Nunito-Regular'),
		url('../font/Nunito-Regular.woff2') format('woff2'),
		url('../font/Nunito-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: 
		local('Nunito-Bold'),
		url('../font/Nunito-Bold.woff2') format('woff2'),
		url('../font/Nunito-Bold.woff') format('woff');
}