$base-font-size: 16px;
$base-font-family: 'OpenSans';
$base-font-color: #333333;
$dark-background: #333333;
$grey-background:#646464;
$light-font-color: #ffffff;
$light-background: #ffffff;
$grey-background: #f7f7f7;
$green-light-color: #0f9;
$green-lighter-color: rgb(236, 255, 242);
$green-shade-color: #0fb472;
$green-dark-color: #00643c;
$blue-shade-color: #022565;
$green-input: #b8ec64;
$red-input: #ff6972;
$light-yellow-color: #fdfbd6;










$dark-background: #202020;
$light-text: #ffffff;
$grey-text: #cacaca;
$hover-color: #ff6e30;
$focus-background: #bc572b;
$active-color: #ce4307;
$btn-color: #ff6e30;
$form-text: #999999;
$error-color: #ff3030;
