header.header
  .header__top
    .container.header__container
      h1.header__title Тестовое задание для
        | 
        span.header__bold SVEAK
      nav.header__menu
        ul.header__list
          li.header__item.active
            a.header__link(href="index.html") Задание 1
          li.header__item
            a.header__link(href="task2.html") Задание 2
          li.header__item
            a.header__link(href="task3.html") Задание 3
          li.header__item
            a.header__link(href="task4.html") Задание 4
